<<<<<<< HEAD
.auth {
	padding-top: 2%;
	font-size: 1.5rem;
}

.authbtn {
	padding: 1% 2%;
	background: #C23A27;
	cursor: pointer;
=======
.profileButton {
  margin-top: 20px;
>>>>>>> 953d37dad8aef320d72ab887cc971a42ed4954e5
}