
.titleQuote{
	background: #75818F;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
<<<<<<< HEAD
	height: 40%;
=======
	height: 15%;
>>>>>>> dc727a56dff9d9e8a7a17e1d434af22015255057
	padding-bottom: 5rem;
}

.line {
	border: 1px solid white;
	width: 80%;
}

.quote {
	font-size: 3.4rem;
	color: white;
<<<<<<< HEAD
	padding: 10rem 2rem;
}

@media screen and (max-width: 650px) {
	.quote {
		font-size: 2rem;
	}
=======
	padding: 6rem 2rem;
>>>>>>> dc727a56dff9d9e8a7a17e1d434af22015255057
}

.serviceSealWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	padding-top: 2%;
}

.serviceSeal {
	height: 75px;
	width: 75px;
}

.paragraph {
	font-size: 1.3rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.team {
  display: flex;
<<<<<<< HEAD
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding-left: 5rem;
  padding-right: 5rem;
}

=======
  flex-wrap: wrap;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
	.titleQuote {
		height: 10%;
	}
}

@media screen and (max-width: 650px) {
	.quote {
		font-size: 2rem;
	}

	.serviceSealWrapper {
		flex-wrap: wrap;
	}
	.titleQuote {
		height: 5%;
	}
}
>>>>>>> dc727a56dff9d9e8a7a17e1d434af22015255057

