.teamCard {
  border-radius: 4px;
  align-items: center;
  margin: 20px 10px;
  padding: 10px;
<<<<<<< HEAD
  width: 100px;
=======
  width: auto;
>>>>>>> dc727a56dff9d9e8a7a17e1d434af22015255057
  height: auto;
  background: #fff;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.teamCard:hover {
  box-shadow: 0 9px 28px rgba(0,0,0,0.25);
}